
.icon--arrow-down,
%icon--arrow-down {
    background-image: url('../../../temp/background/png/arrow-down.png');
    background-repeat: no-repeat;
}



.icon--arrow-left,
%icon--arrow-left {
    background-image: url('../../../temp/background/png/arrow-left.png');
    background-repeat: no-repeat;
}



.icon--arrow-right,
%icon--arrow-right {
    background-image: url('../../../temp/background/png/arrow-right.png');
    background-repeat: no-repeat;
}



.icon--arrow-up,
%icon--arrow-up {
    background-image: url('../../../temp/background/png/arrow-up.png');
    background-repeat: no-repeat;
}


